---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hello from '../components/Hello.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="id">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="prose max-w-screen-md mt-16 mx-auto px-4">
			<h1>About</h1>
			<p>Hi, Saya, Indra Pratama Putra. Saat ini saya bekerja dibidang hukum dan telah membuka kantor di Kabupaten Garut sejak tahun 2019. Memiliki ketertarikan mendalam dalam bidang hukum, terutama hukum perdata, teknologi, dan desain.</p>
			<p>Tugas utama saya adalah membantu masyarakat membuat perjanjian yang sah dan kuat secara hukum, serta memastikan proses peralihan hak atas tanah berjalan dengan lancar dan aman. Saya berpengalaman dalam menangani berbagai jenis perjanjian dan peralihan hak atas tanah, seperti jual beli, hibah, warisan, dan sewa-menyewa.</p>
			<p>Blog ini saya buat sebagai wadah untuk berbagi pemikiran dan ide tentang berbagai hal yang menarik bagi saya, terutama dalam bidang hukum, teknologi, desain, dan hal-hal menarik lainnya.</p>
		</main>
		<Footer />
	</body>
</html>



