---
const today = new Date();
---

<footer class="flex prose prose-sm md:prose mt-20 mx-auto px-4 py-16 border-t">
	<p class="text-sm text-zinc-500">{today.getFullYear()} &copy; Indra Pratama Putra</p>
</footer>
