---
import HeaderLink from './HeaderLink.astro';
---
<nav class="mb-8">
    <div class="internal-links flex justify-end gap-4 text-zinc-200">
        <HeaderLink href="/">About</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
</nav>